doctype html
html
  head
    meta(charset='utf-8')
    title  Code Fellows
    meta(name='viewport', content='width=device-width, initial-scale=1')
  body
    header
      h1 Code Fellows
      h2 Learn to Code
    nav
      a(href='')
      a(href='')
      a(href='')
      a(href='')
    section
      h1 What course you talkin about willis?
      ul
        li RoR
        li Js
        li iOS
        li UX Engineering
        li Python
      section
        h1 You ready for this?
        ol
          li  Nah
          li Sike, yeah.
    section
      h1 Contact
      a(href='ardon@codefellows.com') email
    aside
        form
            input#search(type="search" placeholder="What you lookin for?")
      h2 Twitter
      h2 Facebooks
    section
      h1 Send me a message
      form
        ul
          li
            input#name-box.form-box(name='first_name', placeholder='First Name')
          li
            input#email-box.form-box(name='email', placeholder='Email Address')
          li
            input#phone-box.form-box(type="tel", name='tel', placeholder='(555) 555-555')
          li
            input(type='text', list='program-level')
            datalist#program-level
            option(value='Novice')
            option(value='Ehh ok')
            option(value='Coding Ninja')
          li
            input#message-box.form-box(name='text', placeholder='What the hell you tryin to tell me?')
    footer
      h1 This is the footer
